# dependencies (bun install)
node_modules

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# local testing
.github/workflows/test-local.yml
dist/

.vars
.secrets

# test files (keep for reference)
# test-files

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
